<h1>Ontario Provincial Parks</h1>

<%= form_with scope: :search, method: :get do |form| %>

  <h4>Select Park(s)</h4>
  <% @subregions.each do |subregion| %>
      <p><strong><%= form.label :park_ids, subregion %></strong><br>
      <%= form.collection_check_boxes :park_ids, @parks.select{|p|p.subregion==subregion}.sort_by(&:name), :id, :name %>
      </p>
  <% end %>
  <br>

  <h4>Select Party Size and Equipment</h4>
  (required)<br>

  <strong><%= form.label :party_size, "Party size*" %></strong>
  <%= form.select :party_size, [1,2,3,4,5,6]  %>
  <br>

  <strong><%= form.label :equipment_type, "Equipment type*" %></strong>
  <%= form.select :equipment_type, ["Single Tent", "2 Tents", "3 Tents", "Trailer or RV up to 18ft (5.5m)", "Trailer or RV up to 25ft (7.6m)"] %>
  <br>

  <hr>

  <%= render("filter_control", form: form, field: :restrictions) %>
  <%= render("filter_control", form: form, field: :conditions) %>
  <%= render("filter_control", form: form, field: :adjacent_tos) %>
  <%= render("filter_control", form: form, field: :ground_covers) %>
  <%= render("filter_control", form: form, field: :obstructions) %>

  <hr>


  <%= form.submit "Search" %>
<% end %>
<br>

<p> Number of campsites: <%= @campsites.count %></p>
<table>
<thead>
<th>Site</th>
<th>Adjacent To</th>
<th>Conditions</th>
<th>Ground covers</th>
<th>Obstruction</th>
<th>Restrictions</th>
</thead>
<tbody>
  <% @campsites.each do |campsite| %>
    <%= render("campsite", campsite: campsite) %>
  <% end %>
</tbody>
</table>


<hr>
<ul>
  <% @campsites.each do |campsite| %>
 <li> <%= link_to "#{campsite.name} [#{campsite.park.name}] #{campsite.adjacent_tos.map(&:name)}", park_campsite_path(campsite.park, campsite) %></li>
  <% end %>
</ul>