<h1>Ontario Provincial Parks</h1>

<%= form_with scope: :search, method: :get do |form| %>

  <h4>Select Park(s)</h4>
  <% @subregions.each do |subregion| %>
      <p><strong><%= form.label :park_ids, subregion %></strong><br>
      <%= form.collection_check_boxes :park_ids, @parks.select{|p|p.subregion==subregion}.sort_by(&:name), :id, :name %>
      </p>
  <% end %>
  <br>

  <h4>Select Party Size and Equipment</h4>
  (required)<br>

  <strong><%= form.label :party_size, "Party size*" %></strong>
  <%= form.select :party_size, [1,2,3,4,5,6]  %>
  <br>

  <strong><%= form.label :equipment_type, "Equipment type*" %></strong>
  <%= form.collection_select(:equipment_type, Equipment.all, :id, :name) %>
  <br>

  <hr>

  <%= render("filter_control", form: form, field: :restrictions) %>

  <hr>

  <%= form.submit "Search" %>
<% end %>
<br>

<p> Number of campsites: <%= @campsites.count %></p>
<table>
<thead>
<th>Site</th>
<th>Restrictions</th>
</thead>
<tbody>
  <% @campsites.each do |campsite| %>
    <%= render("campsite", campsite: campsite) %>
  <% end %>
</tbody>
</table>