<h1><%= @park.name %></h1>

<h2><%= @campsite.name %></h2>
<p> Type: <%= @campsite.category %><br>
Double site: <%= @campsite.double_site %><br>
Site shade: <%= @campsite.site_shade %><br>
Conditions: <%= @campsite.conditions %><br>
Ground cover: <%= @campsite.ground_cover %><br>
Pad slope: <%= @campsite.pad_slope %><br>
Adjacent to: <%= @campsite.adjacent_to %><br>
Service type: <%= @campsite.service_type %>
 </p>

 